* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0f0f1a;
  color: white;
}

/* NAVBAR */
header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #111827;
  position: sticky;
  top: 0;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #00d4ff;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: white;
}

/* HERO */
.hero {
  text-align: center;
  padding: 80px 20px;
  background: linear-gradient(135deg, #1e1b4b, #0f172a);
}

.hero h1 {
  font-size: 40px;
}

.hero p {
  margin: 15px 0;
  color: #cbd5e1;
}

button {
  padding: 10px 20px;
  border: none;
  background: #00d4ff;
  color: black;
  cursor: pointer;
  border-radius: 5px;
}

/* CATEGORIES */
.categories {
  padding: 40px;
}

.categories h2 {
  margin-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
}

.card {
  background: #1f2937;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  background: #00d4ff;
  color: black;
}
.categories-section {
  padding: 50px 20px;
  text-align: center;
}

.categories-section h2 {
  font-size: 30px;
  margin-bottom: 30px;
  color: #00d4ff;
}

.categories-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
}

.category-card {
  background: #1f2937;
  padding: 25px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s;
  border: 1px solid transparent;
}

.category-card:hover {
  background: #00d4ff;
  color: black;
  transform: scale(1.05);
}

.result-box {
  margin-top: 40px;
  padding: 30px;
  background: #111827;
  border-radius: 10px;
  min-height: 100px;
  color: #cbd5e1;
}
.cart-section {
  padding: 50px 20px;
  background: #0f172a;
  margin-top: 40px;
}

#cart-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cart-item {
  background: #1f2937;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remove-btn {
  background: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}
/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #111827;
  margin-top: 40px;
}
